@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

:root {
  --main-clr: #571bb8;
  --tic-clr: #53c8f2;
  --tac-clr: #fe509b;
  --start-clr: #4ade80;
  --reset-clr: #ef4444;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--main-clr);
  opacity: 0.8;
  font-family: "Teko", sans-serif, Georgia, "Times New Roman", Times, serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* header */
.head {
  margin-top: 1.5rem;
  text-align: center;
  letter-spacing: 2px;
  border: 2px white dashed;
  width: fit-content;
  place-self: center;
  display: flex;
  gap: 5px;
  font-size: 2.5rem;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

.tic {
  color: var(--tic-clr);
}

.tac {
  color: var(--tac-clr);
}

.toe {
  color: var(--tic-clr);
}
/* game board */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px #fff dashed; */
}

.child {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  font-size: 10rem;
  align-items: center;
}

.child-1,.child-2,.child-4,.child-5 {
  border-right: 1px #fff dashed;
  border-bottom:  1px #fff dashed;
}

.child-3,.child-6 {
  border-bottom: 1px #fff dashed;
}

.child-7,.child-8 {
  border-right: 1px #fff dashed;
}

.player1-container,
.player2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 1rem;
  width: 5.5rem;
  height: 9rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.player1,
.player2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 1rem;
  color: #fff;
}

.player-avatar {
  padding: 5px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

/* btn */

.btn-container {
  place-self: center;
  display: flex;
  gap: 3rem;
}

.start,
.reset {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.start {
  background-color: var(--start-clr);
  border-color: var(--start-clr);
}

.reset {
  background-color: var(--reset-clr);
  border-color: var(--reset-clr);
}

/* Modal */
.modal-contain {
  visibility: hidden;
  left: 50%;
  top: 25%;
  margin-left: -115px;
  margin-top: -75px;
  position: absolute;
  height: 220px;
  width: 200px;
  padding: .8rem;
  background-color: var(--tac-clr);
}

.modal-contain form  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-contain label {
  font-size: 1.4rem;
}

#player2 {
  margin-bottom: 1rem;
}

#name {
  margin-bottom: .8rem;
}

.choice-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 0.7rem;
}

.add {
  padding: 5px 10px;
  background-color: var(--tic-clr);
  border-color: var(--tic-clr);
  border-radius: 1rem;
}

.choice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  border: 1px solid black;
  font-size: 2rem;
}

/* footer */
footer {
  place-self: center;
}

footer p {
  font-size: 1.5rem;
  padding: 1rem;
}
